h1 {
    font-family: Geo;
    font-size: 60px;
    color: #336699;
    text-align: center;
    letter-spacing: 7px;
}

/* Style page content */
.libraryMain {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}