<link href='https://fonts.googleapis.com/css?family=Geo' rel='stylesheet'>

<div class="main">
    <p>feed works!</p>
</div>

  <!-- Sidebar Nav -->
  <nav>
    <ul>
    <div class="sidenav">
      <img src="/Users/anniechong/Documents/Listen-Website/Listen-Web/listen-site/src/app/dillon_pic.png" alt="avatar">
      <a href="/profile">Profile</a>
      <a href="/feed">Feed</a>
      <a href="/library">Library</a>
      <a href="/friends">Friends</a>
      <a href="#">Help</a>
    </div>
  </ul>
</nav>
<router-outlet></router-outlet>
