<link href='https://fonts.googleapis.com/css?family=Geo' rel='stylesheet'>

<!-- Sidebar Nav -->
  <nav>
    <ul>
    <div class="sidenav">
      <img src="dillon_pic.png">
      <!-- add username -->
      <p>Dillon_P</p>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a routerLink="/feed">Feed</a></li>
      <li><a routerLink="/library">Library</a></li>
      <li><a routerLink="/friends">Friends</a></li>
      <!-- <a href="#">Help</a> -->
    </div>
  </ul>
</nav>
<router-outlet></router-outlet>





