h1 {
    font-family: Geo;
    font-size: 80px;
    color: #336699;
    text-align: center;
    letter-spacing: 7px;
}

h2 {
    font-family: Futura;
    font-size: 34px;
    color: black;
    text-indent: 28px;
}

  .summaries {
    padding: 5px;
  }

  .topGenres {
    width:500px;
    height:350px;
    border:1px solid #B6B3B3;
    border-radius: 20px;
    display:inline-block;
    margin-left: 30px;
    margin-right: 25px;

    font-size: 18px;
    font-family: Futura;
    color: #474747;
    text-indent: 20px;
    padding-top: 10px;
  }

  .topArtists {
    width:500px;
    height:350px;
    border:1px solid #B6B3B3;
    border-radius: 20px;
    display:inline-block;
    margin-left: 25px;

    font-size: 18px;
    font-family: Futura;
    color: #474747;
    text-indent: 20px;
    padding-top: 10px;
  }

  .topSongsWeek {
    width:1050px;
    height:350px;
    border:1px solid #B6B3B3;
    border-radius: 20px;
    margin-top: 45px;
    margin-left: 30px;

    font-size: 18px;
    font-family: Futura;
    color: #474747;
    text-indent: 20px;
    padding-top: 10px;
  }

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}