<link href='https://fonts.googleapis.com/css?family=Geo' rel='stylesheet'>
<style>

  h1,
  h2,

  a,
  a:visited,
  a:hover {
  
 
    margin: 10px;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

</style>

<div class="main">
    <!-- "LISTEN" logo -->
    <h1>LISTEN</h1>

    <!-- Music Summary Text -->
    <h2> Dillon's Music Summary</h2>

    <div class="summaries"> 
    <div class="topGenres"> 
        Top Genres of the Week
        <hr>
    </div>
    <div class="topArtists"> 
        Top Artists of the Week
        <hr>
    </div>
    <div class="topSongsWeek"> 
        Top Songs of the Week
        <hr>
    </div>
    </div>
</div>



